<%= form_for(@machine_result) do |f| %>
  <% if @machine_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine_result.errors.count, "error") %> prohibited this machine_result from being saved:</h2>

      <ul>
      <% @machine_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
