<p id="notice"><%= notice %></p>

<h1>Listing Machine Infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_infos.each do |machine_info| %>
      <tr>
        <td><%= machine_info.name %></td>
        <td><%= link_to 'Show', machine_info %></td>
        <td><%= link_to 'Edit', edit_machine_info_path(machine_info) %></td>
        <td><%= link_to 'Destroy', machine_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine info', new_machine_info_path %>
